#icon-list label.dashicons {
	display: inline-block;
	margin: 8px 4px 4px 0;
	padding: 4px;
}

label.dashicons input[type="radio"] {
	display: none;
}

.icon-is-checked {
	background-color: #99ff99;
}
